<!DOCTYPE html>
{% load functions %}
{% load humanize %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'empo_news/main_page.css' %}">
        <title>Add comment | Empo News</title>
    </head>
    <body>
        <div align="center">
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tr>
                    <td bgcolor="#ff0080">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tr>
                                <td style="width:18px;padding-right:4px">
                                    <a href={% url 'empo_news:main_page' %}>
                                        <img src="{% static 'empo_news/images/y18.gif' %}" width="18" height="18" style="border:1px white solid;">
                                    </a>
                                </td>
                                <td style="line-height:12pt; height:10px;">
                                    <span class="pagetop">
                                        <b class="hnname"><a href={% url 'empo_news:main_page' %}>Add comment</a></b>
                                    </span>
                                </td>
                                <td style="text-align:right;padding-right:4px;">
                                    <span class="pagetop">
                                        {% if request.user.is_authenticated %}
                                            <a href={% url 'empo_news:user_page' request.user.username%}>{{ request.user.username }}</a>
                                            ({{ karma }}) |
                                            <a href="/logout">Logout</a>
                                        {% else %}
                                            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login</a>
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="pagespace" title="Add comment" style="height: 10px"></tr>
                <tr>
                    <td>
                        {% if form.errors %}
                            {{ form.non_field_errors }}
                            <br><br>
                        {% endif %}
                        <table class="fatitem" border="0">
                            <tr class='athing' id='{{ comment.id }}'>
                                <td valign="top" class="votelinks">
                                   <div>
                                        {% if request.user.is_authenticated %}
                                            {% if comment.user != request.user %}
                                                {%  csrf_token %}
                                               {% if not comment|is_contribution_liked:request.user.id %}
                                                      <a href={% url 'empo_news:likes_reply' comment.contribution.id comment.id "reply" %}>
                                                         <div class='votearrow' title='upvote'></div>
                                                      </a>
                                               {% else %}
                                                   <div class='votearrow' title='upvote' style="opacity: 0" ></div>
                                               {% endif %}
                                            {% else %}
                                                <span style="color: #ff0080; ">*</span>
                                            {% endif %}
                                        {% else %}
                                            <a id='up_{{ contribution.id }}' href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                                                <div class='votearrow' title='upvote'></div>
                                            </a>

                                        {% endif %}
                                   </div>
                                </td>
                                <td class="default">
                                    <div style="margin-top: 2px; margin-bottom: -10px">
                                        <span class="comhead">
                                            <a href="{% url 'empo_news:user_page' comment.user.username %}">
                                                {{ comment.user.username }}
                                            </a>
                                            <span class="age">
                                                <a href="{% url 'empo_news:item' %}?id={{ comment.id }}">
                                                    {{ comment.publication_time|naturaltime }}
                                                </a>
                                            </span>
                                            <span id="unv_{{ comment.id }}">
                                                {% if comment|is_contribution_liked:request.user.id and comment.user != request.user %}
                                                      | <a href={% url 'empo_news:likes_reply' comment.contribution.id comment.id "reply" %}>unvote</a>
                                               {% endif %}
                                            </span>
                                            <span class="par">
                                                 |
                                                {% if comment.parent.id == None %}
                                                    <a href="{% url 'empo_news:item' %}?id={{ comment.contribution.id }}">
                                                        parent
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'empo_news:item' %}?id={{ comment.parent.id }}">
                                                        parent
                                                    </a>
                                                {% endif %}
                                            </span>
                                            <span class="storyon">
                                                 | on:
                                                <a href="{% url 'empo_news:item' %}?id={{ comment.contribution.id }}">
                                                    {{ comment.contribution|short_title }}
                                                </a>
                                            </span>
                                        </span>
                                    </div>
                                    <br>
                                    <div class="comment">
                                        <span class="commtext c00">
                                            {{ comment.text }}
                                        </span>
                                        <div class="reply"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="height: 10px"></tr>
                            <tr>
                                <td colspan="1"></td>
                                <td>
                                    {% block content %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent" value="{{ comment.id }}">
                                        <input type="hidden" name="goto" value="item?id={{ comment.contribution.id }}#{{ comment.id }}">
                                        {{ comment_form.comment }}
                                    <br><br>
                                        <input type="submit" value="reply">
                                    </form>
                                    {% endblock %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
