{% extends "./bars_base.html" %}
{% load functions %}
{% block main_body %}
{% load humanize %}
<html op="news">
   <head>
       {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'empo_news/main_page.css' %}">
        <title>Empo News</title>
   </head>
   <body>
        <td>
            <table border='0'>
                {% for comment in list.all %}
                    <tr>
                        <td valign="top" class="votelinks">
                           <div align="center">
                               {% if request.user.is_authenticated %}
                                   {% if request.user == comment.user %}
                                       <center><font color="#ff0080">*</font></center>
                                   {% else %}
                                       {% if comment|is_liked %}
                                              <a href={% url 'empo_news:likes' path page_value comment.id %}>
                                                 <div class='votearrow' title='upvote'></div>
                                              </a>
                                       {% else %}
                                           <div class='votearrow' title='upvote' style="opacity: 0" ></div>
                                       {% endif %}
                                   {% endif %}
                               {% else %}
                                   <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                                       <div class='votearrow' title='upvote'></div>
                                   </a>
                               {% endif %}
                           </div>
                        </td>
                        <td class="default">
                            <div style="margin-top:2px; margin-bottom:-10px;">
                                <span class="comhead">
                                    {% if request.user == comment.user %}
                                        <span class="score">
                                            {{ comment.points }}
                                            {% if comment.points == 1 %}
                                                point
                                            {% else %}
                                                points
                                            {% endif %}
                                             by
                                        </span>
                                    {% endif %}
                                    <a href={% url 'empo_news:user_page' comment.user.username %}>{{ comment.user.username }}</a>
                                    {{ comment.publication_time|naturaltime }} |
                                    {% if request.user != comment.user %}
                                        {% if not comment|is_liked %}
                                           {%  csrf_token %}
                                            <a href={% url 'empo_news:likes' path page_value comment.id %}>unvote</a> |
                                        {% endif %}
                                    {% endif %}
                                    <span class="par">
                                    {% if comment.parent == null %}
                                        <a href="{% url 'empo_news:item'%}?id={{ comment.contribution.id }}">parent</a></span>
                                    {% else %}
                                        <a href="{% url 'empo_news:item'%}?id={{ comment.parent.id }}">parent</a></span>
                                    {% endif %}
                                    {% if comment.user == request.user %}
                                        | <a href={% url 'empo_news:update_comment' comment.id %}>edit</a>
                                        | <a href={% url 'empo_news:delete_comment' comment.id %}>delete</a>
                                    {% endif %}
                                    <span> | on:
                                        <a href="{% url 'empo_news:item'%}?id={{ comment.contribution.id }}" >{{ comment.contribution.title }}</a>
                                    </span>
                                </span>
                            </div>
                            <br>
                                <div class="comment">
                                    <span class="commtext c00">{{ comment.text }}</span>
                                </div>
                        </td>
                    </tr>
                    <tr class="morespace" style="height:10px"></tr>
                {% endfor %}
                <tr><td colspan="1"></td><td class="title">
                    {% if more %}
                            <a href="{{ next_page }}">More</a>
                    {% endif %}
                </td></tr>
            </table>
        </td>
   </body>
</html>
{% endblock %}