{% extends "./bars_base.html" %}
{% load functions %}
{% block main_body %}
{% load humanize %}
<html op="news">
   <head>
       {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'empo_news/main_page.css' %}">
        {% if contribution|get_type == "Contribution" %}
            <title>{{ contribution|short_title }} | Empo News</title>
        {% else %}
            <title>{{ contribution|short_text }} | Empo News</title>
        {% endif %}
    </head>
    <body>
        <td>
            <table class="fatitem" border="0">
                {% if contribution|get_type == "Contribution" %}
                    <tr class='athing' id='{{ contribution.id }}'>
                        <td align="right" valign="top" class="title">
                            <span class="rank"></span>
                        </td>
                        <td valign="top" class="votelinks" style="text-align: center;">
                            {% if request.user == contribution.user %}
                                <span style="color: #ff0080; ">*</span>
                            {% elif contribution|is_contribution_liked:request.user.id %}
                                <div class='votearrow' title='upvote' style="opacity: 0" ></div>
                            {% else %}
                                <a id='up_{{ contribution.id }}' href={% url 'empo_news:likes_contribution' contribution.id %}>
                                    <div class='votearrow' title='upvote'></div>
                                </a>
                            {% endif %}
                        </td>
                        <td class="title">
                            {% if contribution|get_class == "url" %}
                                <a href={{ contribution.url }} class="storylink">{{ contribution.title }}</a>
                            {% else %}
                                <a href="{% url 'empo_news:item' %}?id={{ contribution.id }}" class="storylink">{{ contribution.title }}</a>
                            {% endif %}

                            <span class="sitebit comhead">
                                {% if contribution|get_class == "url" %}
                                    (<span class="sitestr">{{ contribution.url }}</span>)
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_{{ contribution.id }}">
                                {{contribution.points}}
                                {% if contribution.points == 1 %}
                                        point
                                    {% else %}
                                        points
                                    {% endif %}
                                     by
                            </span>
                            <a href="{% url 'empo_news:user_page' contribution.user.username %}" class="hnuser">{{contribution.user.username}}</a>
                            <span class="age">
                                {{ contribution.publication_time|naturaltime }}
                            </span>
                                <span id="unv_{{ contribution.id }}">
                                    {% if contribution|is_contribution_liked:request.user.id and contribution.user != request.user %}
                                         |
                                        <a id="unv_{{ contribution.id }}" href="{% url 'empo_news:likes_contribution' contribution.id %}">
                                            unvote
                                        </a>
                                    {% endif %}
                                </span>
                                {% if contribution|is_hidden:request.user.id %}
                                    | <a href={% url 'empo_news:hide_no_page' "item" contribution.id %}>un-hide</a>
                                {% else %}
                                    | <a href={% url 'empo_news:hide_no_page' "item" contribution.id %}>hide</a>
                                {% endif %}
                                | <a href={{"http://www.google.com/search?q="|add:contribution.title|google_url}}>web</a>
                                | <a href="{% url 'empo_news:item'%}?id={{ contribution.id }}">{{ contribution.comments }}
                                    {% if contribution.comments == 1 %}
                                        comment
                                    {% else %}
                                        comments
                                    {% endif %}
                            </a>
                        </td>
                    </tr>
                    <tr style="height:2px"></tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>{{ contribution.text }}</td>
                    </tr>
                {% else %}
                    <tr class='athing' id='{{ contribution.id }}'>
                        <td align="right" valign="top" class="title">
                            <span class="rank"></span>
                        </td>
                        <td valign="top" class="votelinks" style="text-align: center;">
                            {% if request.user == contribution.user %}
                                <span style="color: #ff0080; ">*</span>
                            {% elif contribution|is_contribution_liked:request.user.id %}
                                <div class='votearrow' title='upvote' style="opacity: 0" ></div>
                            {% else %}
                                <a id='up_{{ contribution.id }}' href={% url 'empo_news:likes_contribution' contribution.id %}>
                                    <div class='votearrow' title='upvote'></div>
                                </a>
                            {% endif %}
                        </td>
                        <td class="default">
                            <div>
                                <span class="comhead">
                                    <a href="{% url 'empo_news:user_page' contribution.user.username %}">
                                        {{ contribution.user.username }}
                                    </a>
                                    <span class="age">
                                        <a href="{% url 'empo_news:item' %}?id={{ contribution.id }}">
                                            {{ contribution.publication_time|naturaltime }}
                                        </a>
                                    </span>
                                    <span id="unv_{{ contribution.id }}"></span>
                                    <span class="par">
                                         |
                                        {% if contribution.parent.id == None %}
                                            <a href="{% url 'empo_news:item' %}?id={{ contribution.contribution.id }}">
                                                parent
                                            </a>
                                        {% else %}
                                            <a href="{% url 'empo_news:item' %}?id={{ contribution.parent.id }}">
                                                parent
                                            </a>
                                        {% endif %}
                                    </span>
                                    <span class="storyon">
                                         | on:
                                        <a href="{% url 'empo_news:item' %}?id={{ contribution.contribution.id }}">
                                            {{ contribution.contribution|short_text }}
                                        </a>
                                    </span>
                                </span>
                            </div>
                            <br>
                            <div class="comment">
                                <span class="commtext c00">
                                    {{ contribution.text }}
                                </span>
                                <div class="reply"></div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if request.user != contribution.user %}
                    <tr style="height:10px"></tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>
                            {% block content %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="parent" value="{{ contribution.id }}">
                                {% if contribution|get_type == "Contribution" %}
                                    <input type="hidden" name="goto" value="item?id={{ contribution.id }}">
                                {% else %}
                                    <input type="hidden" name="goto" value="item?id={{ contribution.contribution.id }}#{{ contribution.id }}">
                                {% endif %}
                                {{ comment_form.comment }}
                                <br><br>
                                {% if contribution|get_type == "Contribution" %}
                                    <input type="submit" value="add comment">
                                {% else %}
                                    <input type="submit" value="reply">
                                {% endif %}
                            </form>
                            {% endblock %}
                        </td>
                    </tr>
                {% endif %}
            </table>
            <br><br>
            <table border="0" class='comment-tree'>
                {% include "./reply.html" with comments=contrib_comments indent=0 %}
            </table>
        <br><br>

    </body>
</html>
{% endblock %}
