{% load functions %}
{% load humanize %}
<html op="news">
   <head>
       {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'empo_news/main_page.css' %}">
        <title>Empo News</title>
   </head>
   <body>
        <div align="center">
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tr>
                    <td bgcolor="#ff6600">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tr>
                                <td style="width:18px;padding-right:4px">
                                    <a href={% url 'empo_news:main_page' %}>
                                        <img src="{% static 'empo_news/images/y18.gif' %}" width="18" height="18" style="border:1px white solid;">
                                    </a>
                                </td>
                                <td style="line-height:12pt; height:10px;">
                                    <span class="pagetop">
                                        <b class="hnname"><a href={% url 'empo_news:main_page' %}>Empo News</a></b>
                                        {% if highlight == "new" %}
                                            <span class="topsel">
                                            <a href={% url 'empo_news:new_page' %}>new</a>
                                            </span>
                                        {% else %}
                                            <a href={% url 'empo_news:new_page' %}>new</a>
                                        {% endif %}
                                         |
                                        {% if request.user.is_authenticated %}
                                            <a href={% url 'empo_news:threads' request.user.username %}>threads</a> |
                                        {% endif %}
                                        <a href={% url 'empo_news:not_implemented' %}>past</a> |
                                        <a href={% url 'empo_news:comments' %}>comments</a> |
                                        <a href={% url 'empo_news:ask_list' %}>ask</a> |
                                        <a href={% url 'empo_news:show_list' %}>show</a> |
                                        <a href={% url 'empo_news:not_implemented' %}>jobs</a> |
                                        {% if request.user.is_authenticated %}
                                            <a href={% url 'empo_news:submit' %}>submit</a>
                                        {% else %}
                                            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">submit</a>
                                        {% endif %}
                                    </span>
                                </td>
                                <td style="text-align:right;padding-right:4px;">
                                    <span class="pagetop">
                                        {% if user.is_authenticated %}
                                            <a href={% url 'empo_news:user_page' user.username %}>{{ user.username }}</a>
                                            ({{ karma }}) |
                                            <a href="/logout">Logout</a>
                                        {% else %}
                                            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login</a>
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                        </table>
                </tr>

                <tr id="pagespace" title="empo_simo&#x27;s comments" style="height:10px"></tr>
                <tr>
                    <td>
                        <tr class='athing comtr ' id='22805568'>
                            <td>
                                <table border='0'>
                                        <tr>
                                            <td class='ind'>
                                                <img src="s.gif" height="1" width="0">
                                            </td>
                                            <td valign="top" class="votelinks">
                                                <center><font color="#ff6600">*</font><br>
                                                    <img src="s.gif" height="1" width="14"></center>
                                            </td>
                                            <td class="default">
                                                <div style="margin-top:2px; margin-bottom:-10px;">
                                                    <span class="comhead">
                                                        <span class="score">{{ comment.upvotes }}</span>
                                                        by <a href={% url 'empo_news:user_page' comment.user.username %}>{{ comment.user.username }}</a>
                                                        <span class="age"><a>{{ comment.publication_date|naturaltime }}</a></span>
                                                        <span id="unv_22805568"></span>
                                                        <span class="par"> |
                                                            <a href="item?id=22804149">parent</a></span> |
                                                            <a href="edit?id=22805568">edit</a> |
                                                            <a href={% url 'empo_news:delete_comment' comment.id %}>delete</a>
                                                            <a class="togg" n="1" href="javascript:void(0)" onclick="return toggle(event, 22805568)"></a>
                                                            <span> | on:
                                                                <a href="{% url 'empo_news:item'%}?id={{ comment.contribution.id }}" >{{ comment.contribution.title }}</a>
                                                            </span>
                                                    </span>
                                                </div>
                                                <br>
                                                    <div class="comment">
                                                        <span class="commtext c00">{{ comment.text }}</span>
                                                    </div>
                                                <br>
                                                {% block content %}
                                                <form method="post" action="">
                                                    {% csrf_token %}
                                                    <table>
                                                        <tr>
                                                            <td valign="top">{{ form.text.label_tag }}</td>
                                                            <td>{{ form.text }}</td>
                                                        </tr>
                                                        <td valign="top"><input type="submit" value="Update" name="update_button" style="margin-left: 0px; margin-top: 5px; margin-bottom: 10px"/></td>
                                                    </table>
                                                </form>
                                                {% endblock %}
                                            </td>
                                        </tr>
                                </table>
                            </td>
                        </tr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="1">
                            <tr>
                                <td bgcolor="#ff6600"></td>
                            </tr>
                        </table>
                        <br>
                        <div align="center"><a href={% url 'empo_news:main_page' %}>
                             You are welcome to Empo News, enjoy your stay
                             </a>
                        </div>
                        <br>
                        <div align="center">
                             <span class="yclinks">
                                 <a href={% url 'empo_news:not_implemented' %}>Guidelines</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>FAQ</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Support</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>API</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Security</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Lists</a>
                                 | <a href={% url 'empo_news:not_implemented' %} rel="nofollow">Bookmarklet</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Legal</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Apply to YC</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Contact</a>
                             </span><br><br>
                             <form method="get" action="{% url 'empo_news:not_implemented' %}">Search:
                                <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
                             </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
   </body>
</html>