{% extends "./bars_base.html" %}
{% load functions %}
{% block main_body %}
{% load humanize %}
<html op="news">
   <head>
       {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'empo_news/main_page.css' %}">
        <title>Empo News</title>
   </head>
   <body>
        <td>
            <table border='0'>
                    <tr>
                        <td class='ind'>
                            <img src="s.gif" height="1" width="0">
                        </td>
                        <td valign="top" class="votelinks">
                            <center><font color="#ff0080">*</font><br>
                                <img src="s.gif" height="1" width="14"></center>
                        </td>
                        <td class="default">
                            <div style="margin-top:2px; margin-bottom:-10px;">
                                <span class="comhead">
                                    <span class="score">{{ comment.upvotes }}</span>
                                    by <a href={% url 'empo_news:user_page' comment.user.username %}>{{ comment.user.username }}</a>
                                    <span class="age"><a>{{ comment.publication_date|naturaltime }}</a></span>
                                    <span id="unv_22805568"></span>
                                    <span class="par"> |
                                        <a href="item?id=22804149">parent</a></span> |
                                        <a href="edit?id=22805568">edit</a> |
                                        <a href={% url 'empo_news:delete_comment' comment.id %}>delete</a>
                                        <a class="togg" n="1" href="javascript:void(0)" onclick="return toggle(event, 22805568)"></a>
                                        <span> | on:
                                            <a href="{% url 'empo_news:item'%}?id={{ comment.contribution.id }}" >{{ comment.contribution.title }}</a>
                                        </span>
                                </span>
                            </div>
                            <br>
                                <div class="comment">
                                    <span class="commtext c00">{{ comment.text }}</span>
                                </div>
                            <br>
                            {% block content %}
                            <form method="post" action="">
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <td valign="top">{{ form.text.label_tag }}</td>
                                        <td>{{ form.text }}</td>
                                    </tr>
                                    <td valign="top"><input type="submit" value="Update" name="update_button" style="margin-left: 0px; margin-top: 5px; margin-bottom: 10px"/></td>
                                </table>
                            </form>
                            {% endblock %}
                        </td>
                    </tr>
            </table>
        </td>

   </body>
</html>
{% endblock %}