{% load functions %}
<html op="news">
   <head>
       {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'empo_news/main_page.css' %}">
        <title>Empo News</title>
   </head>
   <body>
        <center>
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tr>
                    <td bgcolor="#ff6600">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tr>
                                <td style="width:18px;padding-right:4px">
                                    <a href={% url 'empo_news:main_page' %}>
                                        <img src="{% static 'empo_news/images/y18.gif' %}" width="18" height="18" style="border:1px white solid;">
                                    </a>
                                </td>
                                <td style="line-height:12pt; height:10px;">
                                    <span class="pagetop">
                                        <b class="hnname"><a href={% url 'empo_news:main_page' %}>Empo News</a></b>
                                        <a href={% url 'empo_news:not_implemented' %}>new</a> | <a href={% url 'empo_news:not_implemented' %}>past</a> | <a href={% url 'empo_news:not_implemented' %}>comments</a> | <a href={% url 'empo_news:not_implemented' %}>ask</a> | <a href={% url 'empo_news:not_implemented' %}>show</a> | <a href={% url 'empo_news:not_implemented' %}>jobs</a> | <a href={% url 'empo_news:not_implemented' %}>submit</a>            </span>
                                </td>
                                <td style="text-align:right;padding-right:4px;">
                                    <span class="pagetop">
                                        <a href={% url 'empo_news:not_implemented' %}>login</a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="pagespace" title="" style="height:10px"></tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                                {% for contribution in list.all %}
                                    <tr class='athing' id='22677970'>
                                        <td align="right" valign="top" class="title"><span class="rank">{{ forloop.counter }}.</span></td>
                                        <td valign="top" class="votelinks">
                                           <center>
                                              <a id='up_22677970' href={% url 'empo_news:not_implemented' %}>
                                                 <div class='votearrow' title='upvote'></div>
                                              </a>
                                           </center>
                                        </td>
                                        <td class="title"><a href={% url 'empo_news:not_implemented' %} class="storylink">{{ contribution.title }}</a><span class="sitebit comhead">
                                            {% if contribution|get_class == "url" %}
                                                (<a href={{ contribution.url }}><span class="sitestr">{{ contribution.url }}</span></a>)
                                            {% endif %}
                                        </span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td class="subtext">
                                           <span class="score" id="score_22677970">{{ contribution.points }} points</span> by <a href={% url 'empo_news:not_implemented' %} class="hnuser">{{ contribution.user.username }}</a> <span class="age"><a href={% url 'empo_news:not_implemented' %}>{{ contribution.publication_time}} minutes ago</a></span> <span id="unv_22677970"></span> | <a href="hide?id=22677970&amp;goto=news">hide</a> | <a href={% url 'empo_news:not_implemented' %}>{{ contribution.comments }}&nbsp;comments</a>
                                        </td>
                                    </tr>
                                    <tr class="spacer" style="height:5px"></tr>
                                {% endfor %}
                                <tr class="morespace" style="height:10px"></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="s.gif" height="10" width="0">
                        <table width="100%" cellspacing="0" cellpadding="1">
                            <tr>
                                <td bgcolor="#ff6600"></td>
                            </tr>
                        </table>
                        <br>
                        <center><a href={% url 'empo_news:not_implemented' %}>
                             Applications are open for YC Summer 2020
                             </a>
                        </center>
                        <br>
                        <center>
                             <span class="yclinks">
                                 <a href={% url 'empo_news:not_implemented' %}>Guidelines</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>FAQ</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Support</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>API</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Security</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Lists</a>
                                 | <a href={% url 'empo_news:not_implemented' %} rel="nofollow">Bookmarklet</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Legal</a>
                                 | <a href={% url 'empo_news:not_implemented' %}>Apply to YC</a>
                                 | <a href="https://caixabenicarlo.es/blog/wp-content/uploads/2017/09/Beques-excel%C2%B7lencia-2017.1-768x379.jpg">Contact</a>
                             </span><br><br>
                             <form method="get" action="{% url 'empo_news:not_implemented' %}">Search:
                                <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
                             </form>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
   </body>
</html>
