{% extends "./bars_base.html" %}
{% block main_body %}
{% load functions %}
{% load humanize %}
    <td>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                {% if highlight == 'show' %}
                    <a style="padding: 20px">Show ENs can be found via show in the top bar. To post one yourself,
                        simply submit a story whose title begins with "Show EN: ".</a>
                    <tr class="morespace" style="height:10px"></tr>
                {% endif %}
                {% for contribution in list.all %}
                    <tr class='athing' id='22677970'>
                        <td align="right" valign="top" class="title"><span class="rank">{{ forloop.counter|add:base_loop_count }}.</span></td>
                        <td valign="top" class="votelinks">
                           <div align="center">
                                {% if request.user.is_authenticated %}
                                    {% if contribution.user != request.user %}
                                        {%  csrf_token %}
                                       {% if contribution|is_liked %}
                                              <a id='up_22677970' href={% url 'empo_news:likes' path page_value contribution.id %}>
                                                 <div class='votearrow' title='upvote'></div>
                                              </a>
                                       {% else %}
                                           <div class='votearrow' title='upvote' style="opacity: 0" ></div>
                                       {% endif %}
                                    {% else %}
                                        <span style="color: #ff6600; ">*</span>
                                    {% endif %}
                                {% else %}
                                    <a id='up_22677970' href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                                        <div class='votearrow' title='upvote'></div>
                                    </a>

                                {% endif %}
                           </div>
                        </td>
                        <td class="title">
                            {% if contribution|get_class == "url" %}
                                <a href={{ contribution.url }} class="storylink">{{ contribution.title }}</a>
                            {% else %}
                                <a href="{% url 'empo_news:item'%}?id={{ contribution.id }}" class="storylink">{{ contribution.title }}</a>
                            {% endif %}

                            <span class="sitebit comhead">
                                {% if contribution|get_class == "url" %}
                                    (<a href={% url 'empo_news:not_implemented' %}><span class="sitestr">{{ contribution.url }}</span></a>)
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                           <span class="score" id={{ contribution.id }}>{{ contribution.points }} points</span>
                            by <a href={% url 'empo_news:user_page' contribution.user.username %} class="hnuser">{{ contribution.user.username }}</a>
                            <span class="age"><a href={% url 'empo_news:not_implemented' %}>{{ contribution.publication_time|naturaltime }}</a></span>
                            <span id="unv_22677970"></span> |
                               {% if not contribution|is_liked and request.user != contribution.user %}
                                   {%  csrf_token %}
                                   <a href={% url 'empo_news:likes' path page_value contribution.id %}>unvote</a> |
                               {% endif %}

                            {% if request.user.is_authenticated %}
                                {% csrf_token %}
                                {% if contribution|is_hidden:selectedUser.id %}
                                    <a href={% url 'empo_news:unhide' path page_value contribution.id selectedUser.id %}>un-hide</a> |
                                {% else %}
                                    <a href={% url 'empo_news:hide' path page_value contribution.id %}>hide</a> |
                                {% endif %}
                            {% else %}
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">hide</a> |
                            {% endif %}
                            <a href="{% url 'empo_news:item'%}?id={{ contribution.id }}">{{ contribution.comments }}&nbsp;comments</a>
                        </td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                {% endfor %}
            <tr class="morespace" style="height:10px"></tr>
            <tr><td colspan="2"></td><td class="title">
                {% if more %}
                        <a href="{{ next_page }}">More</a>
                {% endif %}
            </td></tr>
            <tr class="morespace" style="height:10px"></tr>
        </table>
    </td>
{% endblock %}