{% load functions %}
{% load humanize %}
{% load static %}
{% for comment in comments %}
    <tr class='athing comtr' id='{{ comment.id }}'>
        <td>
            <table border='0'>
                <tr>
                    <td class='ind'>
                        <img src="{% static 'empo_news/images/s.gif' %}" height="1" width="{{ indent }}">
                    </td>
                    <td valign="top" class="votelinks" style="text-align: center;">
                        {% if not comment|is_hidden:request.user.id %}
                            {% if request.user == comment.user %}
                                <span style="color: #ff0080; ">*</span>
                            {% elif comment|is_contribution_liked:request.user.id %}
                                <div class='votearrow' title='upvote' style="opacity: 0" ></div>
                            {% elif request.user.is_authenticated %}
                                <a id='up_{{ comment.id }}' href={% url 'empo_news:likes_reply' comment.contribution.id comment.id "item" %}>
                                    <div class='votearrow' title='upvote'></div>
                                </a>
                            {% else %}
                                <a id='up_{{ comment.id }}' href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'empo_news:item' %}?id={{ comment.id }}">
                                    <div class='votearrow' title='upvote'></div>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="default">
                        <div>
                            <span class="comhead">
                                {% if request.user == comment.user %}
                                    {{ comment.points }}
                                    {% if comment.points == 1 %}
                                        point
                                    {% else %}
                                        points
                                    {% endif %}
                                     by
                                {% endif %}
                                <a href="{% url 'empo_news:user_page' comment.user.username %}" class="hnuser">{{comment.user.username}}</a>
                                <span class="age">
                                    <a href="{% url 'empo_news:item'%}?id={{ comment.id }}">{{comment.publication_time|naturaltime}}</a>
                                </span>
                                <span id="unv_{{ comment.id }}">
                                    {% if comment|is_contribution_liked:request.user.id %}
                                         |
                                        <a id="unv_{{ comment.id }}" href="{% url 'empo_news:likes_reply' comment.contribution.id comment.id "item" %}">
                                            unvote
                                        </a>
                                    {% endif %}
                                </span>
                                <span class="par"></span>
                                    {% if request.user.is_authenticated %}
                                        <a class="togg" href="{% url 'empo_news:collapse' comment.contribution.id comment.id %}">
                                    {% else %}
                                        <a class="togg" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'empo_news:item' %}?id={{ comment.contribution.id }}">
                                    {% endif %}
                                    {% if not comment|is_hidden:request.user.id %}
                                        [-]
                                    {% else %}
                                        [+{{ comment.comments|add:+1 }}]
                                    {% endif %}
                                </a>
                                <span class='storyon'></span>
                            </span>
                        </div>
                        {% if not comment|is_hidden:request.user.id %}
                            <div class="comment">
                                <span class="commtext c00">
                                    {{ comment.text }}
                                    {% if request.user != comment.user %}
                                        <div class='reply'>
                                            <p>
                                                <span style="font-size: 7pt; ">
                                                    {% if request.user.is_authenticated %}
                                                        <u><a href="{% url 'empo_news:addreply' %}?id={{ comment.id }}">reply</a></u>
                                                    {% else %}
                                                        <u><a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'empo_news:item' %}?id={{ comment.contribution.id }}">reply</a></u>
                                                    {% endif %}
                                                </span>
                                            </p>
                                        </div>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% if not comment|is_hidden:request.user.id and comment|all_replies|length %}
        {% include "empo_news/reply.html" with comments=comment|all_replies indent=indent|add:40 %}
    {% endif %}
{% endfor %}

