{% load functions %}
{% load humanize %}
{% load static %}
{% for comment in comments %}
    <tr class='athing comtr' id='{{ comment.id }}'>
        <td>
            <table border='0'>
                <tr>
                    <td class='ind'>
                        <img src="{% static 'empo_news/images/s.gif' %}" height="1" width="{{ indent }}">
                    </td>
                    <td valign="top" class="votelinks" style="text-align: center;">
                        {% if request.user == comment.user %}
                            <span style="color: #00ccff; ">*</span>
                        {% elif comment|is_contribution_liked:request.user.id %}
                            <div class='votearrow' title='upvote' style="opacity: 0" ></div>
                        {% else %}
                            <a id='up_{{ comment.id }}' href={% url 'empo_news:likes_reply' comment.contribution.id comment.id %}>
                                <div class='votearrow' title='upvote'></div>
                            </a>
                        {% endif %}
                    </td>
                    <td class="default">
                        <div>
                            <span class="comhead">
                                <a href="{% url 'empo_news:user_page' comment.user.username %}" class="hnuser">{{comment.user.username}}</a>
                                <span class="age">
                                    <a href="{% url 'empo_news:not_implemented' %}">{{comment.publication_time|naturaltime}}</a>
                                </span>
                                <span id="unv_{{ comment.id }}">
                                    {% if comment|is_contribution_liked:request.user.id %}
                                         |
                                        <a id="unv_{{ comment.id }}" href="{% url 'empo_news:likes_reply' comment.contribution.id comment.id %}">
                                            unvote
                                        </a>
                                    {% endif %}
                                </span>
                                <span class="par"></span>
                                <span class='storyon'></span>
                            </span>
                        </div>
                        <div class="comment">
                            <span class="commtext c00">
                                {{ comment.text }}
                                <div class='reply'>
                                    <p>
                                        <span style="font-size: 7pt; ">
                                            <u><a href="{% url 'empo_news:addreply' %}?id={{ comment.id }}">reply</a></u>
                                        </span>
                                    </p>
                                </div>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% if comment|all_replies|length %}
        {% include "empo_news/reply.html" with comments=comment|all_replies indent=indent|add:40 %}
    {% endif %}
{% endfor %}